/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
  box-sizing: border-box;
}

:root {
  --dark: #333;
  --white: #fff;
  --gray: #cdcdcd;
  --point: #d2e6e3;
  --green: #0ab185;
  --yellow: #f2c34e;
  --font-color: #fff;
  --main-color: #1040cf;
}

html {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  position: absolute;
  clip-path: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

main {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;
}

#staticMap {
  width: 100%;
  height: 100vh;
}

#staticMap .info-window,
#staticMap .info-subway {
  width: 150px;
  padding: 6px 0;
  text-align: center;
  color: #000;
  font-size: 12px;
}

.section-search {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  transform: translate(0, 100%);
  padding: 18px;
  color: #000;
  background-color: #fff;
  overflow: hidden;
  z-index: 20;
  transition: 0.4s ease-in-out;
}

.section-search.is-active {
  transform: translate(0, 0);
}

.section-search .search-title {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.section-search .search-inputs label {
  display: block;
}

.section-search .search-inputs label + label {
  margin-top: 24px;
}

.section-search .search-inputs input {
  width: 100%;
  height: 41px;
  padding: 0 32px;
  border: none;
  border-radius: 14px;
  font-size: 14px;
  background: #f0f0f0 url(9c1840a2e70eb8fed841.svg) no-repeat 14px center / 15px auto;
}

.section-search .search-inputs input::placeholder {
  color: #787878;
}

.section-search .search-title-wrap {
  margin-top: 25px;
  text-align: center;
}

.section-search .search-sub-title {
  position: relative;
  display: inline-block;
  top: 0.5em;
  text-align: center;
  padding: 0 10px;
  color: #244eb9;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
}

.section-search .search-user-list {
  border-top: 1px solid #ccc;
  color: #000;
}

.section-search .search-user-list li {
  padding: 24px 0 14px;
  border-bottom: 1px solid #ccc;
}

.section-search .search-user-list strong {
  font-size: 14px;
  font-weight: 700;
}

.section-search .search-user-list p {
  margin-top: 10px;
  font-size: 12px;
}

.section-result {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 200px;
  padding: 20px 18px;
  border-radius: 26px 26px 0 0;
  box-shadow: 17.4893px 1.39915px 62.9615px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: #fff;
  z-index: 40;
  transition: 0.4s ease-in-out;
}

.section-result.is-active {
  transform: translate(0, 0);
}

.section-result.is-expanded {
  height: 100vh;
}

.section-result .result-title {
  margin-bottom: 16px;
  text-align: center;
  color: #000;
  font-size: 23px;
  font-weight: 500;
}

.section-result .result-list-wrap {
  height: 100%;
  padding-bottom: 40px;
  overflow: auto;
}

.section-result .result-list button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 26px;
}

.section-result .result-list button.is-active {
  background-color: #d9d9d9;
}

.section-result .result-list li + li {
  margin-top: 23px;
}

.section-result .result-list span {
  display: block;
  width: 72px;
  height: 72px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
}

.section-result .result-list li:nth-child(odd) span {
  background: url(c39200c8476197fa58b5.png) no-repeat 0 0 / cover;
}

.section-result .result-list li:nth-child(even) span {
  background: url(76129a181ec9deb8881a.png) no-repeat 0 0 / cover;
}

.section-result .result-list li:nth-child(3n) span {
  background: url(8165d1db6f0b96b9e7eb.png) no-repeat 0 0 / cover;
}

.section-result .result-list strong {
  color: #000;
  font-size: 16px;
}

.section-result .result-list p {
  margin-top: 5px;
  text-align: left;
  color: #244eb9;
  font-size: 12px;
  font-weight: 500;
}

.nav-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: url(67091813d6685307b7e7.svg) no-repeat bottom center;
  background-size: 100% auto;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 378 / 101;
  z-index: 30;
}

.nav-list li {
  width: 30px;
  height: 30px;
}

.item-user {
  background: url(cc01758dcb556e2fae13.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 36px;
  cursor: pointer;
}

.item-location-dot {
  background: url(a373789c73069054ac43.svg) no-repeat center / contain;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.item-map-location-result {
  background: url(c1016fe5331accd5e89b.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  right: 36px;
  opacity: 0.5;
}

.item-map-location-result.is-active {
  opacity: 1;
  cursor: pointer;
}

