.nav-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: url(../img/Union.svg) no-repeat bottom center;
  background-size: 100% auto;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 378 / 101;
  z-index: 30;
}

.nav-list li {
  width: 30px;
  height: 30px;
}

.item-user {
  background: url(../img/user-group.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 36px;
  cursor: pointer;
}

.item-location-dot {
  background: url(../img/location-dot.svg) no-repeat center / contain;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.item-map-location-result {
  background: url(../img/map-location-dot.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  right: 36px;
  opacity: 0.5;
}

.item-map-location-result.is-active {
  opacity: 1;
  cursor: pointer;
}
