.section-result {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 200px;
  padding: 20px 18px;
  border-radius: 26px 26px 0 0;
  box-shadow: 17.4893px 1.39915px 62.9615px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: #fff;
  z-index: 40;
  transition: 0.4s ease-in-out;
}

.section-result.is-active {
  transform: translate(0, 0);
}

.section-result.is-expanded {
  height: 100vh;
}

.section-result .result-title {
  margin-bottom: 16px;
  text-align: center;
  color: #000;
  font-size: 23px;
  font-weight: 500;
}

.section-result .result-list-wrap {
  height: 100%;
  padding-bottom: 40px;
  overflow: auto;
}

.section-result .result-list button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 26px;
}

.section-result .result-list button.is-active {
  background-color: #d9d9d9;
}

.section-result .result-list li + li {
  margin-top: 23px;
}

.section-result .result-list span {
  display: block;
  width: 72px;
  height: 72px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
}

.section-result .result-list li:nth-child(odd) span {
  background: url('./../img/user.png') no-repeat 0 0 / cover;
}

.section-result .result-list li:nth-child(even) span {
  background: url('./../img/user2.png') no-repeat 0 0 / cover;
}

.section-result .result-list li:nth-child(3n) span {
  background: url('./../img/user3.png') no-repeat 0 0 / cover;
}

.section-result .result-list strong {
  color: #000;
  font-size: 16px;
}

.section-result .result-list p {
  margin-top: 5px;
  text-align: left;
  color: #244eb9;
  font-size: 12px;
  font-weight: 500;
}
