/* common */
:root {
    --dark: #333;
    --white: #fff;
    --gray: #cdcdcd;
    --point: #d2e6e3;
    --green: #0ab185;
    --yellow: #f2c34e;
    --yellow-soft: #fff3c0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--point);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* result */
.container {
    display: flex;
    position: relative;
    max-width: 1280px;
    width: calc(100% - 80px);
    border-radius: 20px;
    background-color: var(--white);
}

.container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.cont-result {
    position: relative;
    flex: 0 0 auto;
    width: 260px;
    padding: 40px 20px;
    background-color: var(--white);
    z-index: 1;
}

.cont-result .result-title {
    font-size: 2rem;
    font-weight: 700;
}

.cont-result .result-list {
    margin-top: 20px;
}

.cont-result .result-list li {
    font-size: 1.6rem;
}

.cont-result .result-list li + li {
    margin-top: 12px;
}

.cont-result .result-list li button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: left;
}

.cont-result .result-list li button::before {
    display: inline-block;
    content: '\f239';
    margin-right: 10px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.cont-result .result-list li.is-active button,
.cont-result .result-list li button:hover {
    background-color: var(--point);
}

.cont-map {
    flex: 1 1 auto;
    width: auto;
    height: 400px;
    background-color: pink;
}

.modal-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 280px;
    transform: translate3d(-280px, 0, 0);
    width: 240px;
    height: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.modal-detail.is-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

.modal-detail .detail-title {
    font-size: 2rem;
}

.modal-detail .detail-item {
    margin-top: 20px;
    padding: 20px 0 0;
    line-height: 1.4em;
    word-break: keep-all;
    font-size: 1.2rem;
}

.modal-detail .detail-item + .detail-item {
    border-top: 1px solid var(--gray);
}

.modal-detail .detail-item strong {
    display: block;
    margin-bottom: 8px;
    font-size: 1.6rem;
}

.modal-detail .detail-item ul {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
}

.modal-detail .detail-item ul li {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--yellow-soft);
}

.modal-detail .group-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.modal-detail .btn-close {
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--green);
}

@media screen and (max-width: 716px) {
    .container {
        flex-direction: column-reverse;
    }

    .cont-result {
        width: 100%;
    }

    .modal-detail {
        width: calc(100% - 40px);
        top: auto;
        bottom: 220px;
        left: 20px;
        height: 110px;
    }
}
